<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        </title>
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Caption contest <%= title %></p>
    </body>
</html>